# Lina Haidar
# Session 1 Homework
# 13.09.2021

In [ ]:
import numpy as np
import pandas as pd

## Question 1

What's the version of NumPy that you installed? **answer**: 1.19.5

You can get the version information using the __version__ field:

In [ ]:
np.__version__

'1.19.5'

## Question 2

What's the version of Pandas? answer: 1.1.5

In [ ]:
pd.__version__

'1.1.5'

## Getting the data

In [ ]:
# to read data in google colab
from google.colab import drive
drive.mount('/content/drive', force_remount=False)

Mounted at /content/drive

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/zoomcamp/data_car_price/data.csv')

In [ ]:
data.head()

  Make       Model  Year  ... city mpg  Popularity   MSRP
0  BMW  1 Series M  2011  ...       19        3916  46135
1  BMW    1 Series  2011  ...       19        3916  40650
2  BMW    1 Series  2011  ...       20        3916  36350
3  BMW    1 Series  2011  ...       18        3916  29450
4  BMW    1 Series  2011  ...       18        3916  34500

[5 rows x 16 columns]

## Question 3

What's the average price of BMW cars in the dataset? **answer**: 61546.76347305389

**MSRP**: Manufacturer's Suggested Retail Price

In [ ]:
data['Make'].unique()

array(['BMW', 'Audi', 'FIAT', 'Mercedes-Benz', 'Chrysler', 'Nissan',
       'Volvo', 'Mazda', 'Mitsubishi', 'Ferrari', 'Alfa Romeo', 'Toyota',
       'McLaren', 'Maybach', 'Pontiac', 'Porsche', 'Saab', 'GMC',
       'Hyundai', 'Plymouth', 'Honda', 'Oldsmobile', 'Suzuki', 'Ford',
       'Cadillac', 'Kia', 'Bentley', 'Chevrolet', 'Dodge', 'Lamborghini',
       'Lincoln', 'Subaru', 'Volkswagen', 'Spyker', 'Buick', 'Acura',
       'Rolls-Royce', 'Maserati', 'Lexus', 'Aston Martin', 'Land Rover',
       'Lotus', 'Infiniti', 'Scion', 'Genesis', 'HUMMER', 'Tesla',
       'Bugatti'], dtype=object)

In [ ]:
data.query('Make == "BMW"')['MSRP'].isna().sum()

0

In [ ]:
data.query('Make == "BMW"')['MSRP'].mean()

61546.76347305389

## Question 4

Select a subset of cars after year 2015 (inclusive, i.e. 2015 and after). How many of them have missing values for Engine HP? **answer**: 51

In [ ]:
data.query('Year >= 2015')['Engine HP'].isna().sum()

51

## Question 5

* Calculate the average "Engine HP" in the dataset. **Answer**: 249.39
* Use the fillna method and to fill the missing values in "Engine HP" with the mean value from the previous step.
* Now, calcualte the average of "Engine HP" again. **Answer**: 249.39
* Has it changed? **Answer**: No

In [ ]:
mean_hp_before = round( data['Engine HP'].mean() , 2)
mean_hp_before

249.39

In [ ]:
# check missing values 
data['Engine HP'].isna().sum()

69

In [ ]:
data['Engine HP'].fillna(mean_hp_before, inplace = True)

In [ ]:
# check missing values again
data['Engine HP'].isna().sum()

0

In [ ]:
# find average after filling the missing values 
mean_hp_after = round( data['Engine HP'].mean() , 2)
mean_hp_after

249.39

## Question 6

* Select all the "Rolls-Royce" cars from the dataset.
* Select only columns "Engine HP", "Engine Cylinders", "highway MPG".
* Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 7 rows).
* Get the underlying NumPy array. Let's call it X.
* Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
* Invert XTX.
* What's the sum of all the elements of the result?

Hint: if the result is negative, re-read the task one more time

## NOTE: 
There are no duplicates in "Rolls-Royce" cars. I don't get a dataframe with 7 rows!

In [1]:
data.loc[data['Make'] == "Rolls-Royce" ].duplicated().sum()

NameError: ignored

In [ ]:
data.loc[data['Make'] == "Rolls-Royce" ][['Engine HP', 'Engine Cylinders', 'highway MPG']].shape

In [ ]:
data.loc[data['Make'] == "Rolls-Royce" ][['Engine HP', 'Engine Cylinders', 'highway MPG']].drop_duplicates(inplace = True )

In [ ]:
data.loc[data['Make'] == "Rolls-Royce" ][['Engine HP', 'Engine Cylinders', 'highway MPG']].shape

* Get the underlying NumPy array. Let's call it X.

In [ ]:
X = data.loc[data['Make'] == "Rolls-Royce" ][['Engine HP', 'Engine Cylinders', 'highway MPG']]

* Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.

In [ ]:
XTX = X.T.dot(X)

* Invert XTX.

In [ ]:
XTX

In [ ]:
from numpy.linalg import inv

In [ ]:
inv(XTX.to_numpy())

* What's the sum of all the elements of the result? **Answer**: 0.008720639166868965

In [ ]:
inv(XTX.to_numpy()).sum()

## Questions 7

* Create an array `y` with values `[1000, 1100, 900, 1200, 1000, 850, 1300]`.
* Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
* What's the value of the first element of `w`?.

In [ ]:
y = np.array([1000, 1100, 900, 1200, 1000, 850, 1300])

In [ ]:
inv(XTX.to_numpy())

array([[ 2.57536457e-05,  7.02210013e-04, -1.09352270e-03],
       [ 7.02210013e-04,  4.24123405e-02, -4.41299962e-02],
       [-1.09352270e-03, -4.41299962e-02,  5.53251629e-02]])

In [ ]:
X.T

                  2921   3505   5275   5276   ...  9432   11448  11449  11450
Engine HP         325.0  563.0  563.0  563.0  ...  322.0  624.0  624.0  624.0
Engine Cylinders    8.0   12.0   12.0   12.0  ...   12.0   12.0   12.0   12.0
highway MPG        15.0   19.0   21.0   21.0  ...   15.0   21.0   21.0   21.0

[3 rows x 31 columns]

In [ ]:
res1.shape #= np.matmul( inv(XTX.to_numpy()) , X.T.to_numpy() )

(3, 31)

In [ ]:
np.matmul( res1 , y )

ValueError: ignored